/* Notification.css */

.ns-container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.ns-main {
    background-color: #72619e;
    width: 370px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
}

.ns-form {
    width: 100%;
    max-width: 350px;
}

.ns-form label {
    color: white;
}

.ns-form-input {
    margin-top: 1px;
    margin-bottom: 6px;
}

.ns-input-text,
.ns-input-email,
.ns-textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.ns-textarea {
    height: 60px;
}

.ns-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-justify: center;
}

.ns-button:hover {
    background-color: #45a049;
}

.ns-h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
